<nav>
  <ul>
    <li>
      <a routerLink="users" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
       <a routerLink="" [class.activated]="currentUrl == '/'">
          <i class="material-icons">calendar_today</i>
      </a>
    </li>
    <li>
      <a routerLink="binding" [class.activated]="currentUrl == '/binding'">
         <i class="material-icons">calendar_today</i>
     </a>
    </li>
    <li style="color:yellow">
       {{currentUrl}}
    </li>
  </ul>
</nav>
