<h1>Equation Calculator</h1>

<div class="flex-container">
    <div class="box" id="CalLeft">
        squareParmeter: {{squareParmeter}}
        <input type="number" [(ngModel)]="squareParmeter" (change)="reDrawCurve(this.squareParmeter,this.linearParmeter,this.constantParameter)"/><br> 
        linearParmeter: {{linearParmeter}}
        <input type="number" [(ngModel)]="linearParmeter" (change)="reDrawCurve(this.squareParmeter,this.linearParmeter,this.constantParameter)"/><br> 
        constantParameter: {{constantParameter}}
        <input type="number" [(ngModel)]="constantParameter" (change)="reDrawCurve(this.squareParmeter,this.linearParmeter,this.constantParameter)"/><br> 
    </div>

    <div class="box" id="CalRight">

    </div>
</div>
